# Application environment eg. prod, dev
APP_ENV=dev

# Unique parameter for application
APP_SECRET=758230d1a422c185edf6f7e4c87d993b

# Database connection string
DATABASE_URL=mysql://db_user:db_password@127.0.0.1:3306/db_name

# Mailer connection string
MAILER_URL=null://localhost